.body {
  margin: 0;
}

.App {
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 80px;

  width: 1924px;
  height: 8826px;
  top: 0px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 220px;
  gap: 150px;

  background: #ffffff;

  box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26),
    0px 20px 40px rgba(255, 174, 0, 0.29);
}

.header-name {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 11.5px;

  width: 197px;
  height: 36.77px;
}

.main-logo-header {
  width: 28px;
  height: 29.98px;
}

.site-name-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 272px;
  height: 36.77px;
}

.header-site-name-food {
  width: 60.81px;
  height: 36.77px;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 31.1102px;
  line-height: 120%;
  margin: 0;

  letter-spacing: -0.025em;

  color: #f17228;
}

.header-site-name-wagon {
  width: 90.5px;
  height: 36.77px;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 31.1102px;
  line-height: 120%;
  margin: 0;

  letter-spacing: -0.02em;

  color: #ffb30e;
}

.deliver-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 565px;
  height: 25px;
}

.deliverto-button {
  width: 83px;
  height: 18px;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;

  text-align: center;

  color: #424242;
}

.header-address-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 9px;

  width: 470px;
  height: 25px;
}

.location-logo {
  width: 14px;
  height: 25px;

  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 140%;

  text-align: center;

  color: #ffb30e;
}

.header-location-address {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 447px;
  height: 25px;
}

.current-location {
  width: 141px;
  height: 25px;

  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;

  text-align: center;

  color: #424242;
}

.user-location-address {
  width: 302px;
  height: 20px;

  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;

  text-align: center;

  color: #424242;
}

.search-login-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;

  width: 272px;
  height: 46px;
}

.search-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 124px;
  height: 18px;
}

.search-icon {
  width: 18px;
  height: 18px;

  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;

  text-align: center;

  color: #ffb30e;
}

.search-food-input {
  width: 98px;
  height: 18px;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;

  text-align: center;

  color: #424242;
}

.login-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  gap: 10px;

  width: 118px;
  height: 46px;

  background: #ffffff;

  box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26),
    0px 20px 40px rgba(255, 174, 0, 0.29);
  border-radius: 8px;
}

.user-logo {
  width: 16px;
  height: 18px;

  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;

  text-align: center;

  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.login-text {
  width: 44px;
  height: 18px;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;

  text-align: center;

  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
