$font-source: "Source Sans Pro";
$font-style: normal;
$font-weight-700: 700;

body {
  margin: 0;
}

.App {
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 80px;

  width: 1924px;
  height: 8826px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 220px;
  gap: 150px;

  background: #ffffff;

  box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26),
    0px 20px 40px rgba(255, 174, 0, 0.29);
}

.header-name {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 11.5px;

  width: 197px;
  height: 36.77px;
}

.main-logo-header {
  width: 28px;
  height: 29.98px;
}

.site-name-header {
  display: flex;
  padding: 0px;

  width: 272px;
  height: 36.77px;
}

.header-site-name-food {
  width: 60.81px;
  height: 36.77px;

  font-family: $font-source;
  font-style: $font-style;
  font-weight: $font-weight-700;
  font-size: 31.1102px;

  color: #f17228;
}

.header-site-name-wagon {
  width: 90.5px;
  height: 36.77px;

  font-family: $font-source;
  font-style: $font-style;
  font-weight: $font-weight-700;
  font-size: 31.1102px;
  margin-left: 5px;

  color: #ffb30e;
}

.deliver-location {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 565px;
  height: 25px;
}

.deliverto-button {
  width: 83px;
  height: 18px;

  font-family: "Source Sans Pro";
  font-family: $font-source;
  font-style: $font-style;
  font-weight: $font-weight-700;
  font-size: 18px;

  text-align: center;

  color: #424242;
}

.header-address-location {
  display: flex;
  align-items: center;

  width: 470px;
  height: 25px;
}

.location-logo {
  width: 14px;
  height: 25px;

  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;

  text-align: center;

  color: #ffb30e;
}

.header-location-address {
  display: flex;
  align-items: flex-start;
  margin-left: 5px;
  width: 447px;
  height: 25px;
}

.current-location {
  width: 141px;
  height: 25px;

  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;

  text-align: center;

  color: #424242;
}

.user-location-address {
  width: 302px;
  height: 20px;

  margin-left: 5px;
  font-family: $font-source;
  font-style: $font-style;
  font-weight: $font-weight-700;
  font-size: 18px;
  line-height: 140%;

  text-align: center;

  color: #424242;
}

.search-login-div {
  display: flex;
  align-items: center;

  width: 272px;
  height: 46px;
}

.search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  width: 124px;
  height: 18px;
}

.search-icon {
  width: 18px;
  height: 18px;
}

.search-food-input {
  width: 98px;
  height: 18px;

  font-family: $font-source;
  font-style: $font-style;
  font-weight: $font-weight-700;
  font-size: 18px;
  margin-left: 5px;

  text-align: center;

  color: #424242;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;

  width: 110px;
  height: 40px;

  background: #ffffff;

  box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26),
    0px 20px 40px rgba(255, 174, 0, 0.29);

  border-radius: 8px;
}

.user-logo {
  width: 16px;
  height: 18px;

  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;

  text-align: center;
}

.login-text {
  width: 44px;
  height: 18px;

  margin-left: 5px;
  font-family: $font-source;
  font-style: $font-style;
  font-weight: $font-weight-700;
  font-size: 18px;
  line-height: 100%;

  text-align: center;

  color: #FFB800;
}
