body {
  margin: 0;
}

.App {
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 80px;
  width: 1924px;
  height: 8826px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 220px;
  gap: 150px;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
}

.header-name {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 11.5px;
  width: 197px;
  height: 36.77px;
}

.main-logo-header {
  width: 28px;
  height: 29.98px;
}

.site-name-header {
  display: flex;
  padding: 0px;
  width: 272px;
  height: 36.77px;
}

.header-site-name-food {
  width: 60.81px;
  height: 36.77px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 31.1102px;
  color: #f17228;
}

.header-site-name-wagon {
  width: 90.5px;
  height: 36.77px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 31.1102px;
  margin-left: 5px;
  color: #ffb30e;
}

.deliver-location {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 565px;
  height: 25px;
}

.deliverto-button {
  width: 83px;
  height: 18px;
  font-family: "Source Sans Pro";
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #424242;
}

.header-address-location {
  display: flex;
  align-items: center;
  width: 470px;
  height: 25px;
}

.location-logo {
  width: 14px;
  height: 25px;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  color: #ffb30e;
}

.header-location-address {
  display: flex;
  align-items: flex-start;
  margin-left: 5px;
  width: 447px;
  height: 25px;
}

.current-location {
  width: 141px;
  height: 25px;
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #424242;
}

.user-location-address {
  width: 302px;
  height: 20px;
  margin-left: 5px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #424242;
}

.search-login-div {
  display: flex;
  align-items: center;
  width: 272px;
  height: 46px;
}

.search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 124px;
  height: 18px;
}

.search-icon {
  width: 18px;
  height: 18px;
}

.search-food-input {
  width: 98px;
  height: 18px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-left: 5px;
  text-align: center;
  color: #424242;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  width: 110px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
  border-radius: 8px;
  cursor: pointer;
}

.user-logo {
  width: 16px;
  height: 18px;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.login-text {
  width: 44px;
  height: 18px;
  margin-left: 5px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #ffb800;
}

.title-main {
  background-image: url(./icons/backgroundtitle.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-h1 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 88px;
  padding: 0;
  margin: 0;
  color: #ffffff;
  text-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);
}

.title-description {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #504f4f;
}

.order-div {
  background-color: #ffffff;
  filter: drop-shadow(0px 5px 10px rgba(255, 174, 0, 0.26)) drop-shadow(0px 20px 40px rgba(255, 174, 0, 0.29));
}

.buttons-for-order {
  display: flex;
  align-items: center;
}

.delivery-button {
  width: 120px;
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 10%;
  margin: 3% 0% 0% 5%;
  border: none;
  outline: none;
  background: rgba(241, 114, 40, 0.1);
  cursor: pointer;
}

.delivery-icon {
  margin-left: 8%;
}

.delivery-p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #f17228;
  margin: 0% 0% 0% 6%;
}

.pickup-button {
  width: 120px;
  height: 38px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 10%;
  margin: 3% 0% 0% 2%;
  border: none;
  outline: none;
  cursor: pointer;
}

.pickup-icon {
  margin-left: 8%;
}

.pickup-p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-left: 10%;
  color: #757575;
}

.grey-line {
  align-items: start;
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  margin: 2% 0% 2% 0%;
}

.enter-address-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
}

.input-title-area {
  width: 80%;
  display: flex;
  position: relative;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
}

.location-logo {
  width: 18px;
  height: 34px;
  padding: 3px;
  position: absolute;
  box-sizing: border-box;
}

.input-title-address {
  width: 100%;
  margin-left: 5%;
  height: 25px;
  border: none;
  outline: none;
}

.find-food-button {
  width: 120px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: none;
  outline: none;
  background: linear-gradient(95.71deg, #ff7a7a -39.64%, #f75900 135.31%);
  cursor: pointer;
}

.find-food-icon {
  margin-left: 3%;
}

.find-food-p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-left: 5%;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */